header{
  position: relative;
  background: white;
  padding: 0;
  border-bottom: 1px solid var(--gray5);
}

a{
  color: var(--black)
}

a:hover{
  text-decoration: underline;
  cursor: pointer;
}


a.logo{
  font-family: 'ClashGrotesk-Regular', 'Cabinet Grotesk', sans-serif;
  color: var(--black, #0D0D0D);
  font-size: 46.66px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 2.333px;
  padding:  1rem;
}

ul{
  display: flex;
  margin: 0;
}

ul a{
  padding:1rem;
  display: inline-block;
}

a span{
  background: var(--sand2);
  color: white;
  padding: 0.1rem 0.45rem;
  border-radius: 100rem;
  font-size: 0.9rem;
}

.menu-container{
  position: relative;
}

.menu{
  position: absolute;
  z-index:1;
  background: white;
  display: none;
}

.menu-container:hover .menu{
  display: block;
}

.menu a{
  width: 100%;
  min-width: 8rem;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
}
