div {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
input {
  border-radius: 0.4rem;
  width: 16rem;
  padding: 0.3rem;
  font-size: 1rem;
  font-weight: 400;
  outline: none;
  text-align: center;
  border: solid 1px;
}
div button{
  border-radius: 0.4rem;
  padding: 0.3rem;
  font-size: 1rem;
  font-weight: 500;
  outline: none;
  text-align: center;
  border: solid 1px;
}
button:hover{
  cursor: pointer;
}
