<section class="hero">
  <div class="hero-title">
    <h1>Encontre a base Duo-Tone perfeita para você</h1>
    <p>Cada tom de pele merece sua própria perfeição. <br>
      <br>
      Com a Minisque, descubra a combinação ideal para a sua tonalidade de pele, feita sob medida para realçar a sua beleza única. <br></p>
    <a href="#">Encontre o seu tom</a>
  </div>
  <div class="hero-image-duo">
    <img src="assets/images/hero-beleza-mulheres1.png" alt="imagem de duas mulheres com pele bonita">
  </div>
  <div class="hero-image-single">
    <img src="assets/images/hero-beleza-mulheres2.png" alt="imagem de mulher com pele bonita e sardas">
  </div>
</section>
