/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.cdnfonts.com/css/cabinet-grotesk');
@import url('https://fonts.cdnfonts.com/css/general-sans');
@import './assets/css/clash-grotesk.css';

:root {
  --black: #0D0D0D;
  --black-titles: #3F2B1E;
  --dark: #47362B;
  --gray4: #FBFBFB;
  --gray5: #E0E0E0;
  --gray6: #F2F2F2;
  --sand1:  #FDF1E9;
  --sand2:  #CDA683;
  --white: #FFF;
}

* {
  font-family: "General Sans";
  text-decoration: none;
  margin: 0;
  padding: 0;
}


body{
  font-family: 'Cabinet Grotesk', sans-serif;
}

a {
  text-decoration: none;
  color: var(--black);
}
ul{
    list-style-type: none;
}

.container{
  padding: 0 5rem;

}
