<header>
  <div class="container">
    <nav>
      <a routerLink="/" class="logo">Lewa</a>
      <ul class="sections-link">
        <li>
          <a routerLink="/bestsellers">BESTSELLERS</a>
        </li>
        <li>
          <a routerLink="/new">NEW</a>
        </li>
        <li>
          <a routerLink="/makeup">MAKEUP</a>
        </li>
        <li>
          <a routerLink="/skincare">SKINCARE</a>
        </li>
        <li>
          <a routerLink="/sale">SALE</a>
        </li>
      </ul>
      <ul class="menu-link">
        <li>
          <a routerLink="/login">Buscar</a>
        </li>
        <li class="menu-container">
          <a routerLink="/dashboard">Vitor</a>
          <div class="menu">
            <a routerLink="/profile">Profile</a>
            <a routerLink="/ordes">Orders</a>
            <a>Logout</a>
          </div>
        </li>
        <li>
          <a routerLink="/cart-page">
            Cart <span>4</span>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</header>
