<section class="container">
  <div class="best-title">
    <h2>Minisque’s Produtos especiais</h2>
    <p>Confira os nosso maiores sucessos</p>
    <app-search></app-search>
  </div>
  <ul>
    <li *ngFor="let product of produtcs">
        <a class="card" [routerLink]="'/product/' + product.id">
        <img [src]="product.imageUrl" [alt]="product.name">
        <div *ngIf="product.tags && product.tags.length > 0" >
          <div class="tags">
            {{product.tags}}
          </div>
        </div>
        <div class="content">
          <div class="name">
              {{ product.name }}
          </div>
        </div>
        <div class="product-item-foorter">
          <div class="collections"></div>
          <span *ngFor="let collection of product.collection">     {{collection}}
          </span>
        </div>
        <div class="price">
          <span>{{ product.price | currency }}</span>
        </div>
      </a>
    </li>
  </ul>
</section>







